.surface {
    width: 55%;
    margin: 0 auto;
    margin-top: 150px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: white;
    color: rgb(52, 58, 64);
    border: 2px solid white;
    border-radius: 8px;
    font-family: 'Josefin Slab', serif;
    font-size: 34px;
    opacity: 0.95;
}

.quote{
    width: 70%;
    margin-left: 110px;
    text-align: center;
}
.quote small{
    font-size: 20px;
    margin-left: 280px;
}
